Repository mempool/mempool, pull requests merged in 2021-12, with the labels that each got.

#967 Square -> Spiral 🌀
  frontend/src/app/components/about/about.component.html
  frontend/src/resources/profile/spiral.svg
  frontend/src/resources/profile/sqcrypto.png
  frontend/src/resources/profile/sqcrypto.svg
Labels: about

#970 Center the Enterprise Sponsor logos on About page
  frontend/src/resources/profile/spiral.svg
Labels: about

#980 Set Dockerfiles to use Node v16.10.0
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
Labels: dependencies

#996 Tweak upgrade script to search for remote origin branches
  production/mempool-upgrade-all
Labels: ops

#1008 Add Blockstream as Enterprise Sponsor
  frontend/src/app/components/about/about.component.html
  frontend/src/resources/profile/blockstream.svg
Labels: about

#1032 Update links on About page
  frontend/src/app/components/about/about.component.html
Labels: about

#1010 Liquid icons api
  backend/.gitignore
  backend/mempool-config.sample.json
  backend/src/api/liquid/icons.ts
  backend/src/config.ts
  backend/src/index.ts
  backend/src/routes.ts
  backend/src/sync-assets.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/docs/api-docs-nav.component.html
  frontend/src/app/components/docs/api-docs-nav.component.ts
  frontend/src/app/components/docs/api-docs.component.html
  frontend/src/app/components/docs/api-docs.component.ts
  frontend/src/app/components/docs/code-template.component.ts
Labels: network:Liquid

#1056 Update Specter logo on About page
  frontend/src/resources/profile/specter.png
Labels: about

#1057 Tweak hover effect on profile photos on About page
  frontend/src/app/components/about/about.component.scss
Labels: about

#1064 Add missing liquidtestnet backend to upgrade script
  production/mempool-upgrade-all
Labels: network:Liquid, ops
